# LLM Provider: "ollama" or "gemini"
LLM_PROVIDER=ollama

# Ollama Settings
OLLAMA_MODEL=llama3
OLLAMA_HOST=http://host.docker.internal:11434

# Gemini Settings (if LLM_PROVIDER=gemini)
GEMINI_API_KEY=AIzaSyCawizNP6tu_-gouqUE8EKL4ODtBr1Pedc
GEMINI_MODEL=gemini-1.5-pro
# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# App
UPLOAD_DIR=data/uploads
COLLECTION_NAME=rag_chunks